.cart-section {
    margin-top: 30px;
    div {
        color: $primary;
    }
}

.reducer, .remover {
    color: $primary;
    text-decoration: none;
    text-align: center;
}

.reducer:hover, .remover:hover {
    color: $primary;
    text-decoration: none;
}

.cart-section {
    .row {
        margin-top: 40px;
    }
}

.card {
    margin-bottom: 30px;
}
